

.honeyComb{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-start;
        height: 20em;
        padding: 1em 1em 4em 1em;
        overflow-x: scroll;
        background-color: $gray_1;

    &__image{
        height: 4em;
        width: 4em;
        margin: .3em 0;
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;

        &--toggle{
            margin: -1em;
            display: none;
            z-index: 5;
        }

        &--selected>*{
            display: block;
            position: absolute;
            z-index: 4;
        }
        &:hover>*{
            display: block;
            position: absolute;
            z-index: 5;
        }

        &__header{
            font-family: "Trade Gothic Bold Condensed";
            font-size: .8em;
            text-align: center;
            background-color: white;
        }

        &__full{
            height: 4em;
            width: 4em;
            border-radius: 50%;
            z-index: 0;
            &--toggle{
                height: 6em;
                width: 6em;
            }
        }
        &:nth-child(5n+1){
            margin-top: 2.6em;
        }

    }
}
